body{
    background: url(../img/halloween-4582988_1920.jpg) center no-repeat fixed;
}

*{
    color: white;
    font-size: 1.1em;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 2em;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{
    color: orangered;
    border-radius: 15px;
    padding: 15px;
}

section{
    padding: 15px;
}

span{
    font-size: 1.5em;
}

