*{
    margin: 0;
    padding: 0;
    color: gray;
}

body{
    background: url(../img/halloween-6749878_1920.jpg) no-repeat center fixed;
}

/* positionnement du header */
header{
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
    justify-content: center;
    padding: 30px;

}





/* Positionnement du main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* positionnement button dans section alphabet */

#alphabet{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* mise en forme des button, pour qu'ils apparaissent. */
button{
    padding: 15px;
    border-radius: 30px;
}

/* Mise en forme du bouton qui contient le nombre d'essais réalisable */
#button_essais{
    margin-top: 15px;
}

#button_compteur{
    padding: 15px;
    border-radius: 15px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin: auto;
    color: white;
}

/* Affichage de mes spans */
#span_lettre{
    display: flex;
    flex-direction: row;
    font-size: 50px;
    justify-content: center;
}

span{
    padding: 5px;
    color: white;
}