body /* background de la page web */ {
  background: url(../img/fond.png);
}

/*font et couleur de la page */

a,
p,
h2 {
  font-family: Impact, Haettenschweiler "Arial Narrow Bold", sans-serif;
  font-weight: lighter;
}

h2 {
  font-weight: bolder;
  color: #fd8b00;
}

p {
  color: gray;
}

li {
  color: gray;
}

/* Mise en page du header */

header {
  width: 70%;
  margin: auto;
  background-color: #f8e7a2;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header nav {
  margin-top: 40px;
}

nav a {
  padding: 25px;
  color: #fd8b00;
  text-decoration: none;
  font-size: 23px;
  text-transform: uppercase;
}

header img {
  margin-left: 20px;
}

/* mise page de l'article */

main {
  width: 70%;
  padding: 20px;
  background-color: white;
  margin: auto;
}

section p {
  font-size: 20px;
  text-align: justify;
}

.imgfloat {
  float: left;
  width: 30%;
  margin-right: 15px;
}

.imgh2 {
  width: 38px;
}

/* mise en page bouton lire plus */

.lireplus {
  text-decoration: none;
  background-color: #fd8b00;
  margin-left: 90%;
  padding: 15px;
  color: white;
}

/* mise en page de la liste a puce */

li {
  list-style-type: square;
  font-size: 20px;
}

/* mise en page footer */

footer {
  color: gray;
  padding: 20px;
  width: 70%;
  margin: auto;
  text-align: center;
}

/* Responsive */

@media screen and (max-width: 576px) {
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
  }

  nav a {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  main {
    text-align: center;
    padding: 25px;
  }

  .imgfloat {
    width: 100%;
    float: none;
    margin-right: 0;
  }

  .lireplus {
    margin: auto;
    padding-top: 10px;
  }
}
